<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入完了画面</title>
</head>
<body>

  <header>
		<div class="site-name">
			 <h1 style="font-size: 32px; cursor: pointer;" onclick="redirectToSellPage()">キャルション！</h1>
<script>
            function redirectToSellPage() {
       window.location.href = '/afterLogin/sell'; 
}
</script>

		</div>

		<div sec:authorize="!isAuthenticated()" class="auth-buttons">
			<form th:action="@{/sell/login}" method="get">
				<button class="action-button">ログイン</button>
			</form>
		</div>

		<!-- sec:authorizeを使って"isAuthenticated()"で認証済みかどうかを判定 -->
		<!-- trueならば<div>内を表示 -->
		<div sec:authorize="isAuthenticated()" class="user-info">
			こんにちは：<span sec:authentication="name"></span>さん
			 <br>
    あなたの所持ポイントは <span th:text="${money}"></span> キャルペイです。
			<form th:action="@{/logout}" method="post"></form>

			<div class="button-container" style="margin-top: -5px;">
			
				<form th:action="@{itemList}" method="get">
					<button
						style="background: url('/image/itembutton.png') no-repeat center center; width: 60px; height: 65px; border: none;"
						type="submit"></button>
				</form>

				<form th:action="@{showMypage}" method="get">
					<button
						style="background: url('/image/mypageicon.png') no-repeat center center; width: 60px; height: 65px; border: none;"
						type="submit"></button>
				</form>
				<form th:action="@{create}" method="get">
					<button
						style="background: url('/image/upload.png') no-repeat center center; width: 60px; height: 65px; border: none;"
						type="submit"></button>
				</form>
				<form th:action="@{/logout}" method="post">
					<button
						style="background: url('/image/logoutbutton.png') no-repeat center center; width: 145px; height: 65px; border: none;"
						type="submit"></button>
				</form>
			</div>

		</div>
	</header>

<h1 th:text="${message}"></h1>
<a th:href="@{/afterLogin/sell}" class="btn btn-secondary">トップへ戻る</a>
</body>
</html>