<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="game-container">
        <canvas id="game" width="300" height="600"></canvas>
        <!-- ボタン要素に変更 -->
        <button onclick="location.href='/gameSelect'" class="return-button">トップメニューに戻る</button>
    </div>
    
    <audio id="bgm" loop autoplay>
    <source src="/image/cyber45.mp3" type="audio/mp3">
</audio>


<audio id="rotationSound">
    <source src="/image/ca.mp3" type="audio/mp3">
</audio>


    
    
<!-- 新しいcanvas要素を追加 -->
<canvas id="next-tetromino" width="120" height="120" style="position: absolute; top: 10px; right: 10px;"></canvas>

    <script src="script.js"></script>
    
    
    
</body>
</html>

